<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <ul>

      <li v-for="i in books">{{'id:'+i.id +' Name:'+i.name+' Price:'+i.price}}</li>
      <!-- <li v-for="i in books">{{i.id}}</li> -->
    </ul>
    <h2>总价格:{{totalPrice}}</h2>
  </div>

  <script src='../../VueJS/vue.js'></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        books: [
          { id: 1100, name: 'Unix编程', price: 49 },
          { id: 1101, name: '深入理解计算机原理', price: 129 },
          { id: 1102, name: '代码大全', price: 88 },
          { id: 1103, name: 'ES6教程', price: 29 },
        ],
        sum: 0,
      },
      computed: {
        totalPrice: function () {
          let totalAmount = 0
          for (let i = 0; i < this.books.length; i++) {
            totalAmount += this.books[i].price
          }
          return totalAmount

          // for(let i in this.books)
          // for(let book of this.books)
        }
      },
    })
  </script>
</body>

</html>